<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="OKe2p8LU1XcT3abhHBkhxB9PduM7I2qbHRW5ztgX_3w" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
<meta name="google-site-verification" content="kxhI3UvqI9-n-LeGmnzNQzl5a3lRVjWJxYFQYj-EbYY" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R4V40Q5CE7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R4V40Q5CE7');
</script>
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  <script>jQuery('html').removeClass('no-js').addClass('js');</script>
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  {% include 'social-meta-tags' %}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'madwire.scss' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}
  
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  
  <!--font-awesome--><link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><!--<end font-awesome-->
  
  <!-- add swatch options --> {{ 'option_selection.js' | shopify_asset_url | script_tag }} <!--<end swatch options-->

  {{ content_for_header }}
</head>

<body class="template-{{ template | split: '.' | first }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>
  
  <script>
  jQuery(function() {
    jQuery('.swatch :radio').change(function() {
      var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
      var optionValue = jQuery(this).val();
      jQuery(this)
        .closest('form')
        .find('.single-option-selector')
        .eq(optionIndex)
        .val(optionValue)
        .trigger('change');
    });
  });
  </script>
  <!-- google dynamic remarketing tag for theme.liquid -->
    {% if template contains 'product' %}
        <script type="text/javascript">
            var json_product = {{ product | json }};
        </script>
        <script>
            var ecomm_prodid=[];
            for(var i=0;i<json_product.variants.length;i++)
            	ecomm_prodid.push('shopify_US_{{product.id}}_'+json_product.variants[i].id);
        </script>
        <script type="text/javascript">
            var google_tag_params = {
            	ecomm_prodid: ecomm_prodid,
            	ecomm_pagetype: 'product',
            	ecomm_totalvalue: {{ product.price | money_without_currency | remove: ","}}
            };
        </script>
    {% elsif template contains 'collection' %}
        <script type="text/javascript">
            var google_tag_params = {
            	ecomm_prodid: '',
            	ecomm_pagetype: 'category',
            	ecomm_totalvalue: 0
            };
        </script>
    {% elsif template contains 'cart' %}
        <script type="text/javascript">
            var google_tag_params = {
            	ecomm_prodid: [{% for item in cart.items %}'shopify_US_{{item.product.id}}_{{item.variant.id}}',{% endfor %}],
            	ecomm_pagetype: 'cart',
            	ecomm_totalvalue: {{ cart.total_price | money_without_currency | remove: ","}}
            };
        </script>
    {% elsif template contains 'search' %}
        <script type="text/javascript">
            var google_tag_params = {
            	ecomm_prodid: '',
            	ecomm_pagetype: 'searchresults',
            	ecomm_totalvalue: 0
        };
        </script>
    {% elsif template contains 'index' %}
        <script type="text/javascript">
	        var google_tag_params = {
            	ecomm_prodid: '',
            	ecomm_pagetype: 'home',
            	ecomm_totalvalue: 0
            };
        </script>
    {% else %}
        <script type="text/javascript">
            var google_tag_params = {
            	ecomm_prodid: '',
            	ecomm_pagetype: 'other',
            	ecomm_totalvalue: 0
            };
        </script>
	{% endif %}

  <!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 804117002;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/804117002/?guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>
